@charset "utf-8";
/*---------------------------------------------------
Desidgned by Juergen Koller
Designers Home: http://www.LernVid.com
---------------------------------------------------*/

#user5 div.moduletable h3, #user6 div.moduletable h3, #user7 div.moduletable h3 {
	background-image: url(../images/pinkgreen/user_h3.gif);
	background-repeat:no-repeat;
	background-position: left top;
}
#top div.moduletable h3, #user1 div.moduletable h3, #user2 div.moduletable h3 {
	background-image: url(../images/pinkgreen/user_h3.gif);
	background-repeat:no-repeat;
	background-position: left top;
}
#footer {
	background-image:url('../images/pinkgreen/footer.jpg');
	background-position: center bottom;	
	background-repeat: repeat-x;
}
#mirror {
	background-image:url('../images/pinkgreen/mirror.jpg');
	background-position: center top;
	background-repeat:no-repeat;
}
#search_inner .inputbox:hover {
	color: #FA01AF;
}
#breadcrumbs {
	color:#FA01AF;
}
#breadcrumbs a {
	color: #FA01AF;
}
.module_menu ul.menu li a:hover, .module_menu ul.menu li a:active, .module_menu ul.menu li a:focus {
	color: #FA01AF;
}
#navigation ul.menu li a {
	color:#FA01AF;
}
a, a:link, a:visited, a:active, a:focus {
	color: #A30072;
}
.button:hover {
	color: #A30072;
}
.sitetitle {
	color: #A30072;
}
.module_menu ul.menu li a:first-letter {
	color: #FA01AF;
}
#user5 div.moduletable h3, #user6 div.moduletable h3, #user7 div.moduletable h3 {
	color: #79A500;
}
#top div.moduletable h3, #user1 div.moduletable h3, #user2 div.moduletable h3 {
	color: #79A500;
}
table.module th, .module_text h3 {
	color: #79A500;
}
div.module h3{
	color: #79A500;
}
#sidebar_left div.module h3, #sidebar_right div.module h3 {
	color: #79A500;
}
.contentheading {
	color: #79A500;
}
.contentheading a {
	color: #79A500;
}
